@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
}
/*=========header==========*/
header img {
  width: 100%;
}
header {
  padding: 0;
  margin-bottom: 100px;
}
header ul li {
  list-style-type: none;
}
.flex {
  display: flex;
}

header nav {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(15, 65, 122);
}
header nav ul > li {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 180px;
  height: 60px;
}
header nav ul li:first-child {
  width: 80%;
}
header nav ul li:first-child h1 {
  font-size: 46px;
  padding: 15px 40px;
  color: white;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 21px;
  line-height: 60px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding: 20px;
  padding-bottom: 15px;
}
nav ul li a:hover {
  background-color: rgb(0, 0, 0, 0.7);
}
/*========header=========*/
/*---------search----------*/
.search {
  border-radius: 20px;
  height: 180px;
  width: 80%;
  background-image: url("../img/123.png");
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.search h1 {
  color: white;
  text-align: center;
  padding-top: 6px;
  font-size: 45px;
}
.search p {
  color: white;
  font-size: 20px;
  text-align: center;
}
.search > div {
  display: flex;
}
.search input[type="text"] {
  width: 40%;
  height: 40px;
  margin-left: 26%;
  margin-top: 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 2px solid rgb(160, 23, 23);
}
.search input[type="button"] {
  margin-left: 0;
  border: 2px solid rgb(185, 18, 18);
  background-color: #2d5bda;
  width: 8%;
  height: 42px;
  padding: 0;
  color: white;
  font-size: 17px;
  margin-top: 20px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/*---------khóa học--------------*/
.khoahoc {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
}

.element {
  border: 2px solid rgb(18, 18, 255);
  width: 32%;
  height: 550px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin-left: 1.3%;
}
.element h1:first-child {
  height: 50px;
  font-size:23px;
  padding:0;
}
.element-img {
  width: 100%;
  height: 40%;
}
.element-img img {
  width: 100%;
  height: 100%;
}
.element-text {
  margin-top: 20px;
  padding-left: 20px;
}

.element-text p {
  padding-top: 14px;
  font-size: 18px;
  font-weight: 300;
}
.element-text i {
  color: rgb(45, 199, 199);
  font-size: 20px;
  padding-right: 10px;
}
.element .logo {
  display: flex;
  align-items: center;
}
.element .logo > div {
  width: 60px;
  height: 50px;
}
.element .logo img {
  width: 100%;
  height: 100%;
}
.logo {
  line-height: 30px;
  padding: 0px;
}
.element h1 {
  color: #001c66;
  padding-top: 10px;
}
.element h1 a:hover {
  color: rgb(91, 197, 197);
}
.element h1 a {
  text-decoration: none;
  color: #001c66;
  padding-top: 15px;
}
.element:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}
/*--------hoverelement------*/
.element-hover {
  position: absolute;
  top: 0;
  bottom: 64%;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.4);
  display: none;
}
.element-hover h1 {
  color: white;
  padding: 10px;
}
.element-hover p {
  padding: 10px;
  color: white;
}
.element:hover .element-hover {
  display: block;
}
/*------------------foooter-----------*/
/* Footer */
/* footer-top */
footer {
  margin-top: 50px;
  padding: 40px 55px;
  color: white;
  background-color: #111319;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top p {
  opacity: 0.7;
  padding: 10px 0 30px 0;
}
.icons i {
  margin-right: 15px;
  padding: 7px;
  justify-content: center;
  color: black;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}
.icons i:hover {
  background-color: black;
  color: white;
}
.footer-top img {
  width: 80px;
}
.info {
  width: 50%;
  display: flex;
}
.about {
  width: 33%;
}
.learn-free {
  width: 33%;
}
.Forum {
  width: 33%;
}
.footer-title {
  font-weight: 800;
  padding-bottom: 23px;
}
.info ul > li {
  opacity: 0.7;
  padding-bottom: 13px;
}
.info ul > li:hover {
  cursor: pointer;
  opacity: 1;
}
hr {
  margin: 25px 0;
  opacity: 0.3;
}

/* footer-bot */
.footer-bot {
  display: flex;
  padding: 25px 0;
}
.footer-bot h2 {
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.contact-le {
  width: 50%;
}
.contact-le i {
  margin: 0px 5px;
}
.local {
  font-weight: 200;
  opacity: 0.7;
  padding-left: 6px;
}
.contact-ri {
  width: 50%;
  display: flex;
}
.contact-ri .img-dk {
  width: 20%;
  margin-left: 30px;
}
.email {
  padding-left: 3px;
  font-weight: 300;
  opacity: 0.6;
}
.gotech {
  opacity: 0.6;
  letter-spacing: 2px;
  word-spacing: 1px;
}
/*-----------gotop------------*/
.gotop {
  border: 1px solid black;
  position: fixed;
  z-index: 9999;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 6px;
  right: 50px;
  bottom: 20px;
  display: none;
}
.gotop a {
  font-size: 30px;
  color: yellow;
  padding: 15px;
}
.gotop a i {
  transform: rotate(270deg);
}
.prev {
  border: 1px solid black;
  background-color: #001c66;
  height: 50px;
  width: 50px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  color: white;
  text-align: center;
  display: none;
  border-radius: 50%;
}
.prev:hover
{
  background-color: #2d5bda;
}
/* Mobile */
@media (max-width: 431px) {
  header {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  header h1 {
    display: none;
  }
  nav {
    width: 100%;
  }
  header nav ul > li {
    width: 25%;
  }
  header nav ul li:first-child {
    width: 0;
  }
  nav ul li a {
    padding: 0;
    margin: 0;
  }
  /* search */
  .search {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0;
  }
  .search h1,
  p {
    display: none;
  }
  .search > div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .search input[type="text"] {
    width: 70%;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0;
  }
  .search input[type="button"] {
    margin: 0;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  /* Khóa học */
  .khoahoc {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .element {
    width: 100%;
  }

  /* footer */
  footer {
    width: 100%;
    padding: 10px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-top img {
    width: 100px;
  }

  .info {
    margin-top: 20px;
    width: 100%;
    display: flex;
  }

  .footer-bot {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
  }
  .contact-le {
    width: 100%;
  }
  .contact-ri {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact-ri .img-dk {
    width: 20%;
    margin-left: 0;
  }
}